@media (min-width:0){
    *{
        font-family: 'Satoshi', sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /**/
    .navbar{
        position: absolute;
        z-index: 1;
        background: rgba(27, 26, 26, 0);
        height: 5rem;
        padding: 2rem;
        width: 100%;
        text-align: right;
    }.nav-link{
        text-decoration: none;
        color: #fff;
        margin: 15px;
        font-size: 16px;
    }
 
    .main{
        position: relative;
        height: 57rem;
        background: url(./blue.jpg);
    }.txt{
        position: absolute;
        top: 15rem;
        color: #fff;
        left: 7rem;
        top: 23rem;
        font-size: 46px;
    }
    .footer{
        font-weight: 400;
        position: relative;
        height: 5rem;
        padding: 2rem;
        text-align: center;
        color: #fff;
        background:#030B0D ;
    }
}